#banner {
    text-align: center;
    background-color: rgb(108, 39, 2);
    padding: 75px;
    margin: -10px;
}

.center {
    align-content: center;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: rgb(4, 142, 4);
    padding: 10px 15px; 
    transition: color 0.3s ease, background-color 0.3s ease; 
}

li a:hover {
    color: rgb(108, 39, 2); 
    border-radius: 3px; 
    padding: 5px 10px; 
}

body {
    background-color: rgb(187, 144, 88);
}

footer {
    text-align: center;
}