#banner {
    text-align: center;
    background-color: rgb(108, 39, 2);
    padding: 75px;
    margin: -10px;
}

.center {
    align-content: center;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    color: rgb(4, 142, 4);
    padding: 10px 15px; /* Adjust padding for a more rectangular shape */
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color and background */
}

li a:hover {
    color: rgb(108, 39, 2); /* Change color on hover (orange) */
    border-radius: 3px; /* Slightly rounded corners */
    padding: 5px 10px; /* Smaller padding for a thinner and smaller hover effect */
}

body {
    background-color: rgb(187, 144, 88);
}

footer {
    text-align: center;
}